header {
    background-image: url("img/estadios/974_stadium1.jpg");
}

.stadium_menu {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    background-color: brown;
    color: white;
    border-spacing: 10px;
    border-color: black
}

.change:hover {
    background-color: white;
    color: brown;

}

a {
    text-decoration: none;
    color: white;
}


ul {
    list-style-type: none;
    text-align: center;
}

body {
    font-family: "poppins", sans-serif;
}

.tablehist {
    text-align: center;
    width: 60%;
    height: 20%;
    margin: auto;
    border-radius: 10px;
    background-color: brown;
    color: white;

}

.text_table {
    text-align: justify;
    font-size: large;
    font-weight: 600;
    line-height: 2;
}

.match_table {
    text-align: center;
    margin: auto;
    border: 2px, solid;
    border-color: brown;
}